{% extends 'base.html' %}
{% load static %}

{% block title %}
Разместить Объявление
{% endblock %}

{% block active_3 %}active{% endblock %}

{% block content %}



  <div class="row">
    <div class="col" style="margin: 50px;">
      <div class="display-2">
        <span class="badge bg-primary">Сообщите миру об этом в этой форме</span>
      </div>
    </div>
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row md-3 offset-sm-4">
    {{ form.as_p }}
  </div>

      <div class="row mb-3 offset-sm-5">
        <div class="col">
          <button type="submit" class="btn btn-success">Принять</button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}